body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #000;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    background: url('https://images.unsplash.com/photo-1593079831268-3381b0db4a77?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGd5bXxlbnwwfHwwfHx8MA%3D%3D') center/cover;
    height: 90vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
}

.hero button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background: red;
    color: white;
    cursor: pointer;
}

.section {
    padding: 50px;
    text-align: center;
}

.dark {
    background: #222;
    color: white;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

form input, form button {
    margin: 10px 0;
    padding: 10px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}
